@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
.video2
    width: 100%
    height: auto
    background-color: grey
    display: none
.framecss2
    width: 80%
    height: 100vh
    margin: 0 auto
    padding: 5%
    iframe
        width: 100%
        height: 80vh
.close2
    color: #fff
    font-size: 35px
    padding-left: 100%
    padding-bottom: 70%

.section1
    width: 100%
    height: auto
    background-image: url(../../img/background/bg-color.png) 
    background-size: cover
    background-position: center
.section1-content
    width: 80%
    margin: 0 auto
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between

    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px


.section1-center
    margin-top: 5%
    display: flex
    justify-content: space-between
    align-items: center
    .play-video
        button
            display: flex
            justify-content: space-between
            align-items: center
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 64px
        line-height: 130%
        display: flex
        align-items: center
        letter-spacing: 1px
        color: #1E212C
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
.vvosem
    width: 50%
    height: 2vh
    padding-left: 95%
.buut1
    button
        color: red 
        border: solid red
        border-radius: 4px
        width: 210%
        height: 8vh
.butt
    width: 65%
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 6%

    .buut2
        button
           color: #FFFFFF
           width: 190%
           height: 8vh
           background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
           border-radius: 4px
.vector
    height: 2vh
    padding-left: 87%
    padding-top: 10%
.group
    width: 40%
    height: 5vh
    padding-left: 252%
    padding-top: 6%
.section1-right
    img
        width: 750px

.section1-footer
    width: 108%
    margin-top: 16%
    display: flex
    align-items: center
    justify-content: space-between
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 130%
        display: flex
        align-items: center
        text-align: center
        color: #1E212C

    p
        width: 14%
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        justify-content: space-between 
        color: #1E212C

.section1-footer 
    padding-bottom: 3%
    img
        margin-right: 19px


@media  ( max-width: 1000px )
    .section1
        height: auto
    .section1
        .section1-content
            .m
                img
                    display: none
    .section1
        .section1-content
            header
                .info
                    width: 36%
    .section1
        .section1-content
            .group
                display: none
    .section1
        .section1-content
            .section1-footer
                margin-top: 8%
    .section1
        .section1-content
            .section1-center
                .section1-left
                    h2
                        font-size: 46px
    .section1
        .section1-content
            .section1-center
                .section1-right
                    width: 387px  
@media  ( max-width: 900px )
    .section1
        .section1-content
            header
                .nav
                    display: none
    .section1
        .section1-content
            header
                .info
                    width: 46%
    .section1
        .section1-content
            header
                .logo
                    a
                        img
                            width: 170%
    .section1
        .section1-content
            .section1-center
                .section1-left
                    h2
                        font-size: 38px
    .section1
        .section1-content
            .section1-center
                .section1-left
                    .butt
                        width: 68%
    .section1
        .section1-content
            .section1-center
                .section1-left
                    .butt
                        .buut2
                            button
                                width: 114px
    .section1
        .section1-content
            .section1-center
                .section1-left
                    .butt
                        .buut1
                            button
                                width: 73px
    .section1
        .section1-content
            .section1-center
                .section1-right
                    width: 377px 
@media  ( max-width: 750px )
    .section1
        .section1-content
            .section1-center
                display: block 
    .section1
        .section1-content
            header
                .info
                    width: 56%
    .section1
        .section1-content
            .section1-center
                .section1-left
                    h2
                        font-size: 69px   
    .section1
        .section1-content
            .section1-center
                .section1-left
                    .butt
                        .buut2
                            button
                                width: 177px
    .section1
        .section1-content
            .section1-center
                .section1-left
                    .butt
                        .buut1
                            button
                                width: 177px
    .section1
        .section1-content
            .section1-center
                .section1-right
                    img
                        width: 540px
    .section1
        .section1-content
            .section1-footer
                h2
                    font-size: 20px
    .section1
        .section1-content
            .section1-footer
                p
                    font-size: 10px
    .section1
        .section1-content
            .section1-center
                .section1-left
                    .vvosem
                        padding-left: 60%
@media   ( max-width: 650px )
    .section1
        .section1-content
            header
                .logo
                    a
                        img
                            width: 118%
    .section1
        .section1-content
            header
                .info
                    width: 58%
    .section1
        .section1-content
            header
                .info
                    .kk
                        button
                            font-size: 12px
    .section1
        .section1-content
            .section1-center
                .section1-left
                    h2
                        font-size: 60px
    .section1
        .section1-content 
            .section1-center 
                .section1-left 
                    .butt 
                        width: 43%               
    .section1
        .section1-content 
            .section1-center 
                .section1-left 
                    .butt 
                        .buut1
                            button
                                width: 92px
    .section1
        .section1-content 
            .section1-center 
                .section1-left 
                    .butt 
                        .buut2
                            button
                                width: 111%
    .section1 
        .section1-content 
            .section1-center 
                .section1-right 
                    img 
                        width: 445px
@media   ( max-width: 561px )
    .section1
        .section1-content
            .section1-center
                .section1-left
                    h2
                        font-size: 44px
    .section1
        .section1-content
            .section1-center
                .section1-right
                    img
                        width: 368px
    .section1 
        .section1-content 
            .section1-center 
                .section1-left 
                    .vvosem 
                        padding-left: 46%
    .section1 
        .section1-content 
            .section1-center 
                .section1-left
                    .vector
                        padding-left: 67%
    .section1 
        .section1-content 
            header 
                .logo 
                    a 
                        img 
                            width: 78%
    .section1 
        .section1-content 
            header 
                .info
                    width: 70%
    .section1 
        .section1-content 
            .section1-center 
                .section1-left 
                    .butt 
                        width: 58%
@media   ( max-width: 445px )
    .section1
        .section1-content
            header
                .info
                    width: 160%
    .section1 
        .section1-content 
            .section1-center 
                .section1-right 
                    img
                        width: 308px
    .section1 
        .section1-content 
            .section1-center 
                .section1-right 
                    width: 2px
    .section1 
        .section1-content 
            .section1-footer
                width: 68%
@media   ( max-width: 395px )
    .section1 
        .section1-content 
            header 
                .info 
                    .kk 
                        button 
                            font-size: 9px
    .section1 
        .section1-content 
            header 
                .info 
                    .login
                        button
                            font-size: 12px
    .section1 
        .section1-content 
            .section1-center 
                .section1-left 
                    h2
                        font-size: 30px
    .section1 
        .section1-content 
            .section1-center 
                .section1-right 
                    img 
                        width: 247px
    
.section2
    width: 100%
    margin-top: 13%
.vfor
    width: 5px
.vvv
    width: 5px
.vvv
    img
.section2-content
    width: 80%
    margin: 0 auto
    display: flex
    .section2-left
        img
            width: 90%
            height: auto
.section2-right
    margin-right: 7%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
        margin-top: 3%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 160%
        color: #424551
        padding-top: 4%
    button
        color: #FFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 158px
        height: 40px
        margin-top: 5%
        margin-right: 17%
.section2-left
    width: 70%
.section2-left img
    width: 100%
@media ( max-width: 750px )
    .section2
        .section2-content
            display: block
    .section2
        .section2-content
            .section2-left
                img
                    width: 127%
    .section2
        .section2-content
            .section2-right
                margin-top: 19%
@media   ( max-width: 420px )
    .section2
        .section2-content
            .section2-right
                h1
                    font-size: 30px
    .section2
        .section2-content
            .section2-right
                .pppppp
                    font-size: 12px

.section3
    width: 100%
    margin-top: 14%
.section3-content
    width: 80%
    margin: 0 auto
.section3-header
    display: flex
    justify-content: space-between
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C 
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        color: #1E212C      
    button
        color: red
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 52px
        border: solid red
        width: 18%
        height: 8%
        border-radius: 4px
        margin-top: 2%
.no:hover
    background-color: red 
    color: #fff
.section3-center
    margin-top: 6%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
    height: 100%
.chel1
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    border-radius: 4px
    display: flex
    margin-bottom: 30px
.chelv1
    padding: 3%
.chel1 img
    width: 33%
.chelv1 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    padding: 2%
    background-color: #03CEA4
    width: 79px
    height: 25px
    border-radius: 4px
    
.chel1 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 22px
    line-height: 150%
    color: #1E212C
    margin-top: 5%
    padding-right: 10%
.sto
    width: 60%
    margin-top: 5%
    display: flex
    justify-content: space-between
    align-items: center
.sto img
    width: 25%
.sto
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 150%
        color: #787A80
.chel2
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    border-radius: 4px
    display: flex
.chel2 img
    width: 33%
.chelv2
    padding: 3%
.chelv2 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    padding: 1%
    background-color: #F89828
    width: 107px
    height: 25px
    border-radius: 4px
.chel2 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 22px
    line-height: 150%
    color: #1E212C
    margin-top: 5%
.sto2
    width: 96%
    margin-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
.sto2 img
    width: 18%
.sto2
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #787A80
.chel3
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    border-radius: 4px
    display: flex
.chel3 img
    width: 33%
.chelv3
    padding: 3%
.chelv3 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    padding: 1%
    background-color: #5A87FC
    width: 90px
    height: 25px
    border-radius: 4px
.chel3 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 26px
    line-height: 150%
    color: #1E212C
    margin-top: 7%
.sto3
    width: 103%
    margin-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
.sto3 img
    width: 22%
.sto3
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #787A80
.chel4
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    border-radius: 4px
    display: flex
    margin-bottom: 30px
.chel4 img
    width: 33%
.chelv4
    padding: 3%
.chelv4 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    padding: 1%
    background-color: #5A87FC
    width: 90px
    height: 25px
    border-radius: 4px
.chel4 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 22px
    line-height: 150%
    color: #1E212C
    margin-top: 7%
.sto4
    width: 90%
    margin-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
.sto4 img
    width: 20%
.sto4
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #787A80
.chel5
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    border-radius: 4px
    display: flex
.chel5 img
    width: 33%
.chelv5
    padding: 3%
.chelv5 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    padding: 1%
    background-color: #03CEA4
    width: 73px
    height: 25px
    border-radius: 4px
.chel5 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 150%
    color: #1E212C
    margin-top: 7%
.sto5
    width: 117%
    margin-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
.sto5 img
    width: 23%
.sto5
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #787A80
.chel6
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    border-radius: 4px
    display: flex
.chel6 img
    width: 33%
.chelv6
    padding: 3%
.chelv6 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 150%
    padding: 1%
    background-color: #F52F6E
    width: 50px
    height: 25px
    border-radius: 4px
.chelv6 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 22px
    line-height: 150%
    color: #1E212C
    margin-top: 7%
.sto6
    width: 117%
    margin-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
.sto6 img
    width: 23%
.sto6
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #787A80
@media  ( max-width: 750px )
    .section3
        .section3-content
            .section3-header
                button
                    width: 20%
                    margin-top: 3%
                    font-size: 12px
    .section3
        .section3-content
            .section3-center
                display: block
    .section3
        .section3-content
            .section3-center
                .chel1
                    width: 100%
    .section3
        .section3-content
            .section3-center
                .chel2
                    width: 100%
                    margin-bottom: 30px
    .section3
        .section3-content
            .section3-center
                .chel3
                    width: 100%
                    margin-bottom: 30px
    .section3
        .section3-content
            .section3-center
                .chel4
                    width: 100%
    .section3
        .section3-content
            .section3-center
                .chel5
                    width: 100%
                    margin-bottom: 30px
    .section3
        .section3-content
            .section3-center
                .chel6
                    width: 100%
    .section3
        .section3-content
            .section3-header
                .header1
                    h1
                        font-size: 36px
@media   ( max-width: 580px )
    .section3
        .section3-content
            .section3-header
                button
                    width: 22%
                    font-size: 10px
    .section3
        .section3-content
            .section3-header
                .header1
                    h6
                        font-size: 12px
                        margin-top: 9%
    .section3
        .section3-content
            .section3-header
                .header1
                    h1
                        font-size: 27px
    .section3
        .section3-content
            .section3-center
                .chel1
                    height: 27vh
@media   ( max-width: 450px )
    .section3
        .section3-content
            .section3-header
                button
                    width: 27%
                    font-size: 7px
    .section3
        .section3-content
            .section3-header
                .header1
                    h1
                        font-size: 16px
    .section3
        .section3-content
            .section3-header
                .header1
                    h6
                        font-size: 9px
                        margin-top: 9%  
    .section3
        .section3-content
            .section3-center
                .chel1
                    height: 17vh
    .section3
        .section3-content
            .section3-center
                .chel1
                    .chelv1
                        h3
                            font-size: 11px
    .section3
        .section3-content
            .section3-center
                .chel1
                    .chelv1
                        .sto
                            a
                                font-size: 10px
    .section3
        .section3-content
            .section3-center
                .chel1
                    .chelv1
                        .sto
                            margin-top: 9%     
    .section3
        .section3-content
            .section3-center
                .chel2
                    height: 17vh
    .section3
        .section3-content
            .section3-center
                .chel2
                    .chelv2
                        h3
                            font-size: 12px
    .section3
        .section3-content
            .section3-center
                .chel2
                    .chelv2  
                        .sto2
                            width: 86%
                            
    .section3
        .section3-content
            .section3-center
                .chel2
                    .chelv2  
                        .sto2
                            a
                                font-size: 11px                                                         
    .section3
        .section3-content
            .section3-center
                .chel3
                    height: 17vh
    .section3
        .section3-content
            .section3-center
                .chel3
                    .chelv3
                        h3
                            font-size: 12px
    .section3
        .section3-content
            .section3-center
                .chel3
                    .chelv3
                        .sto3
                            a
                                font-size: 11px                            
    .section3
        .section3-content
            .section3-center
                .chel4
                    height: 17vh
    .section3
        .section3-content
            .section3-center
                .chel4
                    .chelv4
                        h3
                            font-size: 10px
    .section3
        .section3-content
            .section3-center
                .chel4
                    .chelv4
                        .sto4
                            width: 102%
    .section3
        .section3-content
            .section3-center
                .chel4
                    .chelv4
                        .sto4
                            a
                                font-size:11px
    .section3
        .section3-content
            .section3-center
                .chel5
                    height: 17vh
    .section3
        .section3-content
            .section3-center
                .chel5
                    .chelv5
                        .sto5
                            width: 102%
    .section3
        .section3-content
            .section3-center
                .chel5
                    .chelv5
                         h3
                           font-size: 9px
    .section3
        .section3-content
            .section3-center
                .chel5
                    .chelv5
                        .sto5   
                            a
                                font-size: 12px                        
    .section3
        .section3-content
            .section3-center
                .chel6
                    height: 17vh
    .section3
        .section3-content
            .section3-center
                .chel6
                    .chelv6
                        h3
                            font-size: 14px
    .section3
        .section3-content
            .section3-center
                .chel6
                    .chelv6
                        .sto6
                            width: 102%
    .section3
        .section3-content
            .section3-center
                .chel6
                    .chelv6
                        .sto6
                            a
                                font-size: 13px    
.section4
    width: 100%
    margin-top: 14%
.section4-content
    width: 80%
    margin: 0 auto  
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        text-align: center
        color: #1E212C
.header4-top
    padding-top: 55px
    display: flex
    justify-content: space-between
    button
        font-family: 'Lato'
        font-style: normal
        font-size: 22px
        font-weight: 700
        line-height: 160%
        color: #FF3F3A
        width: 270px
        height: 40px
        border: 2px solid #FF3F3A
        box-sizing: border-box
        border-radius: 4px
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        color: #9A9CA5
        padding-top: 1%
        margin-right: 6%
.header4-left
    width: 73%
    display: flex
    justify-content: space-between
    align-items: center
    img
        width: 3%
.section4-center
    padding-top: 90px
    display: flex
    align-items: center
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 38px
        line-height: 130%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        padding-top: 21px
.section4-right
    img
        width: 750px
@media  ( max-width: 1000px )
    .section4
        .section4-content
            .section4-header
                .seection4-top
                    button
                        font-size: 11px
                        width: 150%
    .section4
        .section4-content
            .section4-header
                .seection4-top
                    a
                        font-size: 14px
    .section4
        .section4-content
            .section4-center
                .section4-left
                    h2
                        font-size: 19px
    .section4
        .section4-content
            .section4-center
                .section4-left
                    p
                        font-size: 12px                      
    .section4
        .section4-content
            .section4-center
                .section4-right
                    img
                        width: 403px
@media  ( max-width: 800px )
    .section4
        .section4-content
            .section4-header
                .header4-top
                    button
                        font-size: 8px
                        width: 110px
                        height: 33px
    .section4
        .section4-content
            .section4-header
                .header4-top
                    button
                        img
                            width: 7%
    
    .section4
        .section4-content
            .section4-header
                    .header4-top
                        a
                            font-size: 11px
    .section4
        .section4-content
            .section4-header
                    .header4-top
                        img
                            width: 2%
    .section4
        .section4-content
            .section4-center
                .section4-right
                    img
                        width: 307px
@media   ( max-width: 750px )
    .section4
        .section4-content
            .section4-center
                display: block
    .section4
        .section4-content
            .section4-center
                .section4-left
                    h2
                        font-size: 50px
    .section4
        .section4-content
            .section4-center
                .section4-left
                    p
                        font-size: 16px
    .section4
        .section4-content
            .section4-center
                .section4-right
                    img
                        width: 500px
@media  ( max-width: 667px )
    .section4
        .section4-content
            .section4-header
                    .header4-top
                        width: 105%
    .section4
        .section4-content
            .section4-center
                .section4-left
                    h2
                        font-size: 40px
    .section4
        .section4-content
            .section4-center
                .section4-left
                    p
                        font-size: 13px
    .section4
        .section4-content
            .section4-center
                .section4-right
                    img
                        width: 400px
@media  ( max-width: 580px )
    .section4
        .section4-content
            .section4-header
                h6
                    font-size: 10px
    .section4
        .section4-content
            .section4-header
                h1
                    font-size: 30px
    .section4 
        .section4-content 
            .section4-header 
                .header4-top 
                    a 
                        font-size: 9px    
                        padding-top: 2%
    .section4 
        .section4-content 
            .section4-center
                .section4-left
                    h2
                        font-size: 32px           
    .section4 
        .section4-content 
            .section4-center
                .section4-left
                    p
                        font-size: 12px
    .section4 
        .section4-content 
            .section4-center
                .section4-right
                    img
                        width: 300px
    .section4 
        .section4-content 
            .section4-header 
                .header4-top
                    display: block
    .section4 
        .section4-content 
            .section4-header 
                .header4-top
                    .header4-left
                        margin-top: 3%
@media   ( max-width:420px  )
    .section4 
        margin-top: 22%
    .section4 
        .section4-content 
            .section4-header 
                h1
                    font-size: 22px
    .section4 
        .section4-content 
            .section4-center
                .section4-right
                    img
                        width: 250px
    .section4 
        .section4-content 
            .section4-center
                .section4-left
                    h2
                        font-size: 20px           
    .section4 
        .section4-content 
            .section4-center
                .section4-left
                    p
                        font-size: 9px
    
.section5
    width: 100%
    margin-top: 15%
    background-image: url(../../img/background/bg-color3.png) 
    background-size: cover
    background-position: center
.section5-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
.section5-header
    width: 100%
    margin: 0 auto
    text-align: center
.section5-header
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        margin-top: 5%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 130%
        color: #1E212C
        margin-top: 2%
.pervi
    width: 100%
    background: #FFFFFF
    border-radius: 4px
    margin-top: 5%
    margin-bottom: 4%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2%
.data
    width: 15%
    display: flex
    justify-content: space-between
.data
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #787A80
.info
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        color: #787A80
.pervi
    button
        color: red
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 21px
        line-height: 44px
        border-radius: 4px
        border: 1px solid #FF3F3A
        width: 11%
.hohoho:hover
    background-color: red
    color: #fff
.ben:hover
    background-color: red 
    color: #FFF
.vtoroi
    .pervi
    width: 100%
    background: #FFFFFF
    border-radius: 4px
    margin-top: 5%
    margin-bottom: 4%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2%
.data2
    width: 15%
    display: flex
    justify-content: space-between
.data2
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #787A80
.info2
    margin-right: 23%
.info2
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        color: #787A80
.vtoroi
    button
        color: #fff
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 21px
        line-height: 44px
        border-radius: 4px
        background-color:  #FF3F3A
        width: 11%
.treti
    width: 100%
    background: #FFFFFF
    border-radius: 4px
    margin-top: 5%
    margin-bottom: 4%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2%
.data3
    width: 15%
    display: flex
    justify-content: space-between
.data3
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #787A80
.info3
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        color: #787A80
.treti
    button
        color: red
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 21px
        line-height: 44px
        border-radius: 4px
        border: 1px solid #FF3F3A
        width: 11%
.section5-footer
    width: 42%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 5%
.section5-footer
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 34px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 19px
        line-height: 52px
        width: 40%
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
@media  ( max-width: 1000px )
    .section5
        .section5-content
            .section5-center
                .pervi
                    .data
                        img
                            width: 25%
    .section5
        .section5-content
            .section5-center
                .pervi
                    .info
                        h3
                            font-size: 12px
    .section5
        .section5-content
            .section5-center
                .pervi
                    .info
                        p
                            font-size: 10px
    .section5
        .section5-content
            .section5-center
                .pervi
                    .data
                        .vrem
                            h6
                                font-size: 12px
    .section5
        .section5-content
            .section5-center
                .pervi
                    .data
                        .vrem
                            p
                                font-size: 10px     
    .section5
        .section5-content
            .section5-center
                .pervi
                    button
                        font-size: 8px
                        width: 8%   
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .data2
                        img
                            width: 25%
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .info2
                        h3
                            font-size: 12px
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .info2
                        p
                            font-size: 10px
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .data2
                        .vrem2
                            h6
                                font-size: 12px
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .data2
                        .vrem2
                            p
                                font-size: 10px     
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    button
                        font-size: 8px
                        width: 8%   
    .section5
        .section5-content
            .section5-center
                .treti
                    .data3
                        img
                            width: 25%
    .section5
        .section5-content
            .section5-center
                .treti
                    .info3
                        h3
                            font-size: 12px
    .section5
        .section5-content
            .section5-center
                .treti
                    .info3
                        p
                            font-size: 10px
    .section5
        .section5-content
            .section5-center
                .treti
                    .data3
                        .vrem3
                            h6
                                font-size: 12px
    .section5
        .section5-content
            .section5-center
                .treti
                    .data3
                        .vrem3
                            p
                                font-size: 10px     
    .section5
        .section5-content
            .section5-center
                .treti
                    button
                        font-size: 8px
                        width: 8%                 
    .section5
        .section5-content
            .section5-footer
                h3
                    font-size: 13px
    .section5
        .section5-content
            .section5-header
                h6
                    width: 50%
    .section5
        .section5-content
            .section5-header
                h1
                    font-size: 28px
@media   ( max-width: 667px )
    .section5
        .section5-content
            .section5-header
                h6
                    font-size: 10px
    .section5
        .section5-content
            .section5-header
                h1
                    font-size: 23px
    .section5
        .section5-content
            .section5-center
                .pervi
                    button
                        font-size: 4px
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    button
                        font-size: 4px
    .section5
        .section5-content
            .section5-center
                .treti
                    button
                        font-size: 4px  
    .section5
        .section5-content
            .section5-footer
                h3
                    font-size: 9px
    .section5
        .section5-content
            .section5-footer
                button
                    font-size: 7px
@media  ( max-width: 600px )
    .section5
        .section5-content
            .section5-center
                .pervi 
                    .data 
                        .vrem 
                            h6
                                font-size: 9px
    .section5
        .section5-content
            .section5-center
                .pervi 
                    .data 
                        .vrem 
                            p
                                font-size: 5px
    .section5 
        .section5-content 
            .section5-center 
                .pervi 
                    .info 
                        h3 
                            font-size: 8px
    .section5 
        .section5-content 
            .section5-center 
                .pervi 
                    .info
                        p
                            font-size: 6px  
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .data2
                        .vrem2 
                            h6
                                font-size: 9px
    .section5
        .section5-content
            .section5-center
                .vtoroi
                    .data2
                        .vrem2 
                            p
                                font-size: 5px
    .section5 
        .section5-content 
            .section5-center 
                .vtoroi
                    .info2 
                        h3 
                            font-size: 8px
    .section5 
        .section5-content 
            .section5-center 
                .vtoroi
                    .info2
                        p
                            font-size: 6px 
    .section5
        .section5-content
            .section5-center
                .treti
                    .data3 
                        .vrem3 
                            h6
                                font-size: 9px
    .section5
        .section5-content
            .section5-center
                .treti
                    .data3 
                        .vrem3 
                            p
                                font-size: 5px
    .section5 
        .section5-content 
            .section5-center 
                .treti
                    .info3 
                        h3 
                            font-size: 8px
    .section5 
        .section5-content 
            .section5-center 
                .treti
                    .info3
                        p
                            font-size: 6px   
    .section5 
        .section5-content 
            .section5-header 
                h1 
                    font-size: 18px
    .section5 
        .section5-content 
            .section5-header
                h6
                    font-size: 7px
@media  ( max-width: 500px )
    .section5
        .section5-content
            .section5-center 
                .pervi 
                    .info 
                        h3
                            font-size: 6px
    .section5
        .section5-content
            .section5-center 
                .vtoroi
                    .info2 
                        h3
                            font-size: 6px
    .section5
        .section5-content
            .section5-center 
                .treti
                    .info3 
                        h3
                            font-size: 6px
    .section5 
        .section5-content 
            .section5-center 
                .pervi 
                    .data 
                        .vrem 
                            h6 
                                font-size: 6px
    .section5 
        .section5-content 
            .section5-center
                .pervi 
                    .data 
                        .vrem 
                            p 
                                font-size: 4px
    .section5 
        .section5-content 
            .section5-center 
                .vtoroi
                    .data2 
                        .vrem2 
                            h6 
                                font-size: 6px
    .section5 
        .section5-content 
            .section5-center
                .vtoroi
                    .data2 
                        .vrem2 
                            p 
                                font-size: 4px
    .section5 
        .section5-content 
            .section5-center 
                .treti
                    .data3 
                        .vrem3 
                            h6 
                                font-size: 6px
    .section5 
        .section5-content 
            .section5-center
                .treti
                    .data3 
                        .vrem3 
                            p 
                                font-size: 4px
    .section5 
        .section5-content 
            .section5-footer 
                h3 
                    font-size: 7px
    .section5 
        .section5-content 
            .section5-footer 
                button 
                        font-size: 5px
    .section5 
        .section5-content 
            .section5-header 
                h1 
                        font-size: 8px
    .section5 
        .section5-content 
            .section5-header
                h6
                    font-size: 4px
    .section5
        .section5-content
                .section5-header 
                        width: 28%
@media   ( max-width: 400px )
    .section5
        .sectin5-content
            .section5-center
                .pervi
                    .vrem
                        font-size: 5px
    .section5
        .sectin5-content
            .section5-center
                .pervi
                    .vrem
                        p
                            font-size: 2px
    .section5 
        .section5-content 
            .section5-center 
                .pervi 
                    .info 
                        h3 
                            font-size: 5px
    .section5 
        .section5-content 
            .section5-center 
                .pervi 
                    .info
                        p
                            font-size: 4px
    .section5 
        .section5-content 
            .section5-center 
                .pervi button 
                            font-size: 3px
    .section5
        .sectin5-content
            .section5-center
                .vtoroi
                    .vrem2
                        font-size: 5px
    .section5
        .sectin5-content
            .section5-center
                .vtoroi
                    .vrem2
                        p
                            font-size: 2px
    .section5 
        .section5-content 
            .section5-center 
                .vtoroi
                    .info2 
                        h3 
                            font-size: 5px
    .section5 
        .section5-content 
            .section5-center 
                .vtoroi2 
                    .info2
                        p
                            font-size: 4px
    .section5 
        .section5-content 
            .section5-center 
                .vtoroi
                    button 
                        font-size: 3px
    .section5
        .sectin5-content
            .section5-center
                .treti
                    .vrem3
                        font-size: 5px
    .section5
        .sectin5-content
            .section5-center
                .treti
                    .vrem3
                        p
                            font-size: 2px
    .section5 
        .section5-content 
            .section5-center 
                .treti
                    .info3 
                        h3 
                            font-size: 5px
    .section5 
        .section5-content 
            .section5-center 
                .treti
                    .info3
                        p
                            font-size: 4px
    .section5 
        .section5-content 
            .section5-center 
                .treti
                    button 
                       font-size: 3px
    .section5 
        .section5-content 
            .section5-footer 
                h3 
                    font-size: 5px
    .section5 
        .section5-content 
            .section5-footer 
                button 
                    font-size: 3px
    .section5 
        .section5-content 
            .section5-header 
                width: 25%
    .section5 
        .section5-content 
            .section5-header 
                h6
                    font-size: 3px
    .section5 
        .section5-content 
            .section5-header 
                h1
                    font-size: 6px

.section6
    width: 100%
    height: auto
    margin-top: 5%
    background-color: #FFFFFF
.section6-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
.section6-left
    margin-bottom: 14%
.section6-left
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150px
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 56px
        line-height: 130%
        color: #1E212C
        margin-bottom: 2%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        color: #424551
        margin-bottom: 5%
.left-footer
    display: flex
    justify-content: space-between
.section6-right
    img
        width: 600px
        margin-top: 30%
.section6-right
    width: 50%
.section6-right
    img
        width: 110%   

@media  ( max-width: 1000px )
    .section6
        .section6-content
            .section6-left
                h6
                    font-size: 12px
    .section6
        .section6-content
            .section6-left
                h1
                    font-size: 25px
                    margin-bottom: 8%
    .section6
        .section6-content
            .section6-left
                p
                    font-size: 11px
    .section6
        .section6-content
            .section6-left
                .left-footer
                    width: 67%
    .section6
        .section6-content
            .section6-left
                .left-footer
                    img
                        width: 25%         
@media   ( max-width: 750px )
    .section6
        .section6-content
            display: block
    .section6
        .section6-content
            .section6-left
                h6
                    font-size: 18px
    .section6
        .section6-content
            .section6-left
                h1
                    font-size: 44px
                    margin-bottom: 4%
    .section6
        .section6-content
            .section6-left
                p
                    font-size: 16px
    .section6
        .section6-content
            .section6-right
                img
                    width: 185%
                    margin-top: 1%
@media   ( max-width: 490px )
    .section6
        .section6-content
            .section6-left
                h6
                    font-size: 11px
    .section6
        .section6-content
            .section6-left
                h1
                    font-size: 28px
                    margin-bottom: 4%
    .section6
        .section6-content
            .section6-left
                p
                    font-size: 11px
.section7
    width: 100%
    height: 230vh
    margin-top: -9%
    background-image: url(../../img/background/7.png) 
    background-size: cover
    background-position: center
.section7-content
    width: 80%
    margin: 0 auto
    padding-top: 11%
.S
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 66px
        line-height: 130%
        color: #1E212C
.knopka
    display: inline-flex
    align-items: center
    justify-content: space-between
    width: 8%
.block2:hover
    img
        color: blue
.K
    display: flex
    justify-content: space-between
    width: 95%
.photo
    display: flex
    justify-content: space-between
    margin-top: 5%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 150%
        text-align: center
        color: #424551
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 23px
        line-height: 160%
        text-align: center
        color: #787A80
.chell1
    position: relative
    img
        width: 350px
.imge1
    position: absolute
    bottom: 81px
    left: 30px
    img
        width: 290px
.chell2
    position: relative
    img
        width: 350px
.imge2
    position: absolute
    bottom: 81px
    left: 30px

    img
        width: 290px
.chell3
    position: relative
    img
        width: 350px
.imge3
    position: absolute
    bottom: 119px
    left: 30px

    img
        width: 290px
.chell4
    position: relative
    img
        width: 350px
.imge4
    position: absolute
    bottom: 81px
    left: 30px

    img
        width: 290px
.section7-footer
    margin-top: 15%
    position: relative
.stoke1
    position: absolute
    top: 57%
.stoke2
    position: absolute
    top: 55%
    left: 97%
.headerr
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 56px
        line-height: 130%
        text-align: center
        color: #1E212C
.dodopizza
    background-color: #fff
    width: 85%
    height: 46vh
    margin: 0 auto
    margin-top: 7%
    position: relative
.slick-next
    padding-bottom: 50%
.infooo
    width: 80%
    margin: 0 auto
    padding-top: 6%
    position: absolute
    position: relative
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 150%
        color: #424551
        padding-left: 10%
.akk
    display: flex
    align-items: center
    justify-content: space-between
    width: 25%
    margin-left: 10%
    margin-top: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        color: #1E212C
        margin-left: 10%
.dd
    width: 74%
.rectangle
    position: absolute
    left: 4%
    display: flex
    justify-content: space-between
    width: 4%
.dots
    margin-left: 40%
    padding-top: 5%
.section8
    width: 100%
    height: auto
.section8-content
    width: 80%
    padding-top: 5%
    margin: 0 auto
.section8-header
    display: flex
    position: relative
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        color: #1E212C
    button
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 14%
        padding-top: 55
        position: absolute
        top: 30%
        left: 86%
.texttt:hover
    background-color: green
    color: #fff
    border-radius: 4px
.texttt
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 52px
        color: #FFFFFF
.section8-center
    margin-top: 5%
    display: flex
    justify-content: space-between
    width: 103%
    .sary
        img
            width: 90%
    .sary2
        img
            width: 90%
    .sary3
        img
            width: 90%
.september
    margin-top: 2%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
.vag
    display: flex
    justify-content: space-between
    width: 80%
.box1
    position: relative
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
        margin-top: 4%
        margin-bottom: 2%
.sary   
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        background: #FFFFFF
        padding: 1%
        display: flex
        border-radius: 4px
        width: 22%
        height: 5vh
        position: absolute
        left: 4%
        z-index: 2
        top: 2%
        display: flex
        justify-content: space-between
        align-items: center
.nnn
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        margin-bottom: 4%
.listen
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 18%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 160%
        color: #1E212C


.september2
    margin-top: 2%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
.vag2
    display: flex
    justify-content: space-between
    width: 80%
.box2
    position: relative
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
        margin-top: 4%
        margin-bottom: 2%
.sary2    
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        background: #FFFFFF
        display: flex
        padding: 2%
        align-items: center
        border-radius: 4px
        width: 22%
        height: 5vh
        position: absolute
        left: 4%
        z-index: 2
        top: 2%
        display: flex
        justify-content: space-between
        align-items: center
.video
    width: 90%
    height: 37vh
    margin: 0 auto
    background-color: black
    position: relative
    display: none
    position: absolute
    bottom: 45%
    border-radius: 2%
    z-index: 2
.framecss
    width: 90%
    height: 37vh
    margin: 0 auto
.framecss iframe
    width: 100%
    height: 100%
.close
    width: 100px
    height: 40vh
    color: #fff
    background: none
    position: absolute
    right: 6px
    top: 40%
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 150%
.nnn2
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        margin-bottom: 4%
.listen2
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 18%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 160%
        color: #1E212C



.september3
    margin-top: 2%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
.vag3
    display: flex
    justify-content: space-between
    width: 50%
.box3
    position: relative
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
        margin-top: 4%
        margin-bottom: 2%
.sary3
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        background: #FFFFFF
        display: flex
        padding: 2%
        align-items: center
        border-radius: 4px
        width: 22%
        height: 5vh
        position: absolute
        left: 4%
        z-index: 2
        top: 2%
        display: flex
        justify-content: space-between
        align-items: center
.nnn3
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        margin-bottom: 4%
.listen3
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 16%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 160%
        color: #1E212C
.section9
    width: 100%
    height: 70vh
    margin-top: 15%
    background-image: url(../../img/background/background4.png) 
    background-size: cover
    background-position: center
    position: relative
.io
    position: absolute
    top: 64%
.io2
    position: absolute
    top: 64%
    left: 81%
.section9-content
    width: 50%
    margin: 0 auto
    padding-top: 10%
    position: relative
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        text-align: center
        color: #1E212C
        margin-top: 3%
.blin
    margin: 0 auto
    margin-top: 7%
    margin-bottom: 10%
    display: flex
    justify-content: space-between
    width: 90%
    
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        padding: 2%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 210%
        height: 7vh
        margin-left: 5%
    button
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 20%
        height: 7vh
.sagan
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        position: absolute
        bottom: 2%
        right: 8%
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 32px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        
        
        
    



        




    
    




                 
                    
