@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
header
    width: 100%
    height: auto
    background-color: #FEDCD2
    position: relative
.shapes
    position: absolute
    padding-bottom: 10%
.groups
    position: absolute
    top: 69%
    img
        color: #FFE1DF
.dots
    position: absolute
    right: 0%
.shapes-two
    position: absolute
    right: 17%
    bottom: 0%
.header-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between

    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 24px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px
.header-text
    padding-top: 8%
    padding-bottom: 7%
    width: 100%
    margin: 0 auto
    text-align: center
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #FF3F3A
        padding-bottom: 2%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 130%
        display: flex
        align-items: center
        text-align: center
        color: #1E212C
.section1
    width: 100%
.section1-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding-top: 7%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 130%
        color: #1E212C
        padding-bottom: 5%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #FF3F3A
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        color: #1E212C 
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551 
        padding-bottom: 3%
.accordion
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 20%
.panel-open
    width: 150%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 50%
.panel-in
        display: flex
        justify-content: space-between
        width: 140%
        padding-bottom: 2%
.panel-open2
    display: flex
    justify-content: space-between
    align-items: center
    width: 91%
    padding-bottom: 2%
.panel-open3
    display: flex
    justify-content: space-between
    align-items: center
    width: 102%
    padding-bottom: 2%
    button
        width: 18%
.panel-open4
    display: flex
    justify-content: space-between
    align-items: center
    width: 91%
.section1-right
        background: #ffffff
        border: 1px solid #E5E8ED
        box-sizing: border-box
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
        border-radius: 4px
        width: 40%
        height: auto
.section1-in
    width: 85%
    height: auto
    margin: 0 auto
    padding-top: 7%
    position: relative
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
        padding-top: 6%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 28px
        line-height: 130%
        color: #FF3F3A
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #787A80
        padding-bottom: 5%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 44px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF        
        width: 100%
        height: 5vh
        margin: 0 auto
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        margin-bottom: 4%
        margin-top: 4%
        
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 150%
        letter-spacing: 1px
        text-decoration-line: underline
        text-transform: uppercase
        color: #FF3F3A
    .led
        width: 100%
        margin: 0 auto
.section2
    width: 100%
    position: relative
.section2-min
    position: absolute
    top: 15%
    left: 5%
.section2-min2
    position: absolute
    left: 85%
    top: 25%
.section2-min3
    top: 80%

    position: absolute
.section2-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding-top: 10%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 31px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 3%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 51px
        line-height: 130%
        color: #1E212C
        padding-bottom: 3%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 25px
        line-height: 150%
        color: #787A80
        padding-bottom: 4%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 21px
        line-height: 160%
        color: #424551
        padding-bottom: 4%
.section2-right
    img
        width: 110%
.section2-logos
    display: flex
    justify-content: space-between
    padding-bottom: 6%
    width: 50%
.section2-socials
    display: flex
    justify-content: space-between
    width: 20%
.section3
    width: 100%
    position: relative
.section3-min
    position: absolute
    top: 90%
    left: 95%
.section3-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding-top: 7%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 3%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #424551
.section3-moxito
    display: flex
    justify-content: space-between
    width: 101%
    padding-bottom: 3%
.section3-moxito2
    display: flex
    justify-content: space-between
    width: 95%
    padding-bottom: 3%
    img
        padding-bottom: 13%
.section3-moxito3
    display: flex
    justify-content: space-between
    width: 103%
.section4
    width: 100%
.section4-content
    width: 80%
    margin: 0 auto
    margin-top: 8%
    background-color: #FEDCD2
.section4-in
    width: 90%
    margin: 0 auto
    padding: 5%
    display: flex
    justify-content: space-between
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 44px
        line-height: 130%
        display: flex
        align-items: center
        color: #1E212C
        padding-bottom: 3%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 75%
        padding-left: 3%

    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 20%
.Subscribe
    width: 100%
    margin: 0 auto
.section4-form
    display: flex
    justify-content: space-between
    padding-bottom: 4%
.section4-checkbox
    display: flex
    justify-content: space-between
    width: 83%   
.section4-left
    img
        width: 110% 
.section5
    width: 100%
.section5-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        text-align: center
        color: #1E212C
        padding-bottom: 3%
.section5-akk
    width: 210%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 130%
        color: #1E212C
        padding-bottom: 4%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
        padding-bottom: 1%
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #9A9CA5
        margin-bottom: 4%
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 95%
        height: 8vh
        padding-left: 3%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        margin-bottom: 5%
        margin-top: 4%
        width: 95%
        padding-left: 35%
.section6
    width: 100%
    background-color: #F4F5F6
    position: relative
.section6-min
    position: absolute
    top: 66%
    left: 7%
.section6-min2
    position: absolute
    left: 95%
    top: 40%
.section6-min3
    position: absolute
    left: 90%
    top: 81%
.section6-content
    width: 80%
    margin: 0 auto
    padding-top: 5%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 3%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
.section6-header
    display: flex
    justify-content: space-between
.section6-strelki
    padding-top: 5%
.section6-center
    padding-top: 4%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 150%
        color: #FF3F3A
        padding-bottom: 3%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 150%
        color: #1E212C
        padding-bottom: 3%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 160%
        color: #787A80
        padding-bottom: 4%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 160%
        color: #787A80
        padding-bottom: 7%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 44px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: red
        border: 1px solid red
        box-sizing: border-box
        border-radius: 4px
        margin-top: 3%
        width: 100%
        height: 6vh
    .event-button
        width: 100%
    .event-button:hover
        background-color: red
        color: #ffffff
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 6vh
.event
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
    width: 30%
    margin-bottom: 4%
.event-in
    width: 100%
    margin: 0 auto
    padding: 3%
.event-in3
    width: 100%
    margin: 0 auto
    padding: 3%
    h1
        font-size: 16px
    button
        margin-top: 1%
    p
        padding-bottom: 5%
.event3
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
    width: 30%
    margin-bottom: 4%
.section6-footer
    display: flex
    justify-content: space-between 
    align-items: center 
    margin: 0 auto
    width: 40%
    padding-bottom: 8%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 36px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 37%
.section6-button
    width: 100%
    margin: 0 auto
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
    


