@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
header
    width: 100%
    height: auto
    background-color: #ffffff
    position: relative
.shapes
    position: absolute
    padding-bottom: 10%
.groups
    position: absolute
    top: 69%
    img
        color: #FFE1DF
.dots
    position: absolute
    right: 0%
.shapes-two
    position: absolute
    right: 17%
    bottom: 0%
.header-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between

    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px
.logo
    border: none
.section1
    width: 100%
.section1-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    display: flex
    justify-content: space-between
    align-items: center
.section1-left
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 1%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 46px
        line-height: 130%
        color: #1E212C
        padding-bottom: 4%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 28px
        line-height: 150%
        color: #1E212C
        padding-bottom: 4%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        padding-bottom: 5%
.section1-buttons
    display: flex
    justify-content: space-between
    width: 40%
.section1-buttons1
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 52px
        color: red
        background: #FFFFFF
        border: 1px solid red
        box-sizing: border-box
        border-radius: 4px
        width: 140%
.sec1-but-in
    width: 100%
    margin: 0 auto
.sec1-but-in:hover
    color: #fff
    background-color: red
.section1-buttons2
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 140%
.sec1-but-in2
    width: 100%
    margin: 0 auto
.section1-right
    width: 40%
    img
        width: 110%
.section2
    width: 100%
.section2-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        letter-spacing: 1px
        color: #FF3F3A
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
.section2-footer
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 3%
.section2-right-in
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 3%
.section2-right-in2
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 3%
    width: 84%
.section2-right-in3
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 3%
    width: 72%
.section2-right-in4
    display: flex
    justify-content: space-between
    align-items: center
    width: 76%
.section2-video
    display: flex
    justify-content: space-between
    align-items: center
    width: 11%
.section2-left
    width: 90%
    img
        width: 70%
.section2-right
    padding-right: 10%
    width: 40%
.section3
    width: 100%
    position: relative
.section3-too
    position: absolute
    left: 30%
    top: 30%
.section3-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 1%
        text-align: center
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 46px
        line-height: 130%
        color: #1E212C
        text-align: center
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        text-align: center
        color: #1E212C
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        text-align: center
        color: #787A80
.section3-footer
    display: flex
    justify-content: space-between
    padding-top: 4%
.section3-drive-img
    width: 15%
    margin: 0 auto
    padding-top: 2%
.section3-drive-img2
    width: 15%
    margin: 0 auto
    padding-top: 2%
.section3-drive-img3
    width: 15%
    margin: 0 auto
    padding-top: 2%
.section3-drive-img4
    width: 15%
    margin: 0 auto
    padding-top: 2%
.section4
    width: 100%
.section4-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 1%
        text-align: center
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
        text-align: center
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 160%
        color: #FFFFFF
        background: #03CEA4
        border-radius: 4px
        width: 24%
        margin-bottom: 3%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 160%
        color: #787A80
        padding-bottom: 5%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        color: #1E212C
.section4-card-grid
    padding-top: 3%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
.section4-card
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    border-radius: 4px
    width: 30%
    margin-bottom: 4%
    img
        width: 100%
.section4-h4
    display: flex
    justify-content: space-between
    width: 45%
    img
        width: 15%
.section4-card-in
    padding: 4%
.section4-h5
    width: 100%
    text-align: center
.section4-card-in2
    padding: 4%
    h5
        width: 35%
        background: #5A87FC
.section4-card-in3
    padding: 4%
    h5
        width: 37%
        background: #F89828
.section4-card-in4
    padding: 4%
    h5
        width: 25%
        background: #F52F6E
.section4-card-in5
    padding: 4%
    h5
        width: 35%
        background: #7772F1
.section4-card-in6
    background: #F4F5F7
    border-radius: 4px
    .h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 150%
        text-align: center
        color: #424551
        padding-top: 40%
        padding-bottom: 40%
.section5
    width: 100%
.section5-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    display: flex
    justify-content: space-between
    align-items: center
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        color: #1E212C
        padding-bottom: 7%
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
        padding-bottom: 1%
        padding-top: 3%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        color: #787A80
.section5-left-footer
    display: flex
    justify-content: space-between
    width: 110%
.section5-left-step
    padding-bottom: 3%
.section5-line
    padding-top: 3%
    img
        width: 150%
.section6
    width: 100%
.section6-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 1%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 56px
        line-height: 130%
        text-align: center
        color: #1E212C
        padding-bottom: 5%
.section6-img
    position: relative
.section6-img1
    img
        width: 95%
.section6-img2
    position: absolute
    bottom: -2%
    padding: 2%
    img
        width: 130%
.section6-footer
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
    padding-bottom: 10%
.section6-footer-in
    padding-bottom: 3%
    width: 25%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 28px
        line-height: 150%
        color: #424551
        padding-top: 1%
        text-align: center
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #787A80
        text-align: center
.section7
    width: 100%
    background-color: #F4F5F6
    position: relative
.section7-circl
    position: absolute
    padding: 5%
.section7-circl2
    position: absolute
    left: 93%
    top: 50%
.section7-shapes
    position: absolute
    top: 65%
    left: 10%
.section7-content
    width: 80%
    height: auto
    margin: 0 auto
    padding-top: 5%
    position: relative
.land-rover
    position: absolute
    bottom: 35%
.mersedes-benz
    position: absolute
    bottom: 32%
    right: 0%
    z-index: 2
.headerr
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        text-align: center
        color: #1E212C
.dodopizza2
    background-color: #fff
    width: 85%
    height: 46vh
    margin: 0 auto
    margin-top: 7%
    position: relative
    background: #FFFFFF
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
.infooo
    width: 80%
    margin: 0 auto
    position: absolute
    top: 20%
    position: relative
    margin-top: 5%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #424551
        padding-left: 10%
.akk
    display: flex
    align-items: center
    justify-content: space-between
    width: 25%
    margin-left: 10%
    margin-top: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 160%
        color: #1E212C
        margin-left: 10%
.dd
    width: 74%
.rectangle
    position: absolute
    left: 4%
    display: flex
    justify-content: space-between
    width: 4%
.ufc
    padding-left: 40%
    padding-top: 4%
    padding-bottom: 3%
.footerr
    padding: 3%
.section7-2
    width: 100%
.section7-2-content
    width: 80%
    margin: 0 auto
    padding-top: 6%
    padding-bottom: 7%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        text-align: center
        padding-bottom: 1%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
        text-align: center
.section7-2-img
    padding-top: 4%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
    img
        width: 90%
.section7-2-img1
    width: 15%
.section8
    width: 100%
    height: auto
.section8-content
    width: 80%
    padding-top: 10%
    margin: 0 auto
.section8-header
    display: flex
    position: relative
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        color: #1E212C
    button
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 14%
        padding-top: 55
        position: absolute
        top: 30%
        left: 86%
.texttt:hover
    background-color: green
    color: #fff
    border-radius: 4px
.texttt
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 52px
        color: #FFFFFF
.section8-center
    margin-top: 5%
    display: flex
    justify-content: space-between
    width: 103%
    .sary
        img
            width: 90%
    .sary2
        img
            width: 90%
    .sary3
        img
            width: 90%
.september
    margin-top: 2%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
.vag
    display: flex
    justify-content: space-between
    width: 80%
.box1
    position: relative
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
        margin-top: 4%
        margin-bottom: 2%
.sary   
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        background: #FFFFFF
        padding: 1%
        display: flex
        border-radius: 4px
        width: 22%
        height: 5vh
        position: absolute
        left: 4%
        z-index: 2
        top: 2%
        display: flex
        justify-content: space-between
        align-items: center
.nnn
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        margin-bottom: 4%
.listen
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 18%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 160%
        color: #1E212C


.september2
    margin-top: 2%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
.vag2
    display: flex
    justify-content: space-between
    width: 80%
.box2
    position: relative
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
        margin-top: 4%
        margin-bottom: 2%
.sary2    
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        background: #FFFFFF
        display: flex
        padding: 2%
        align-items: center
        border-radius: 4px
        width: 22%
        height: 5vh
        position: absolute
        left: 4%
        z-index: 2
        top: 2%
        display: flex
        justify-content: space-between
        align-items: center
.video
    width: 90%
    height: 37vh
    margin: 0 auto
    background-color: black
    position: relative
    display: none
    position: absolute
    bottom: 45%
    border-radius: 2%
    z-index: 2
.framecss
    width: 90%
    height: 37vh
    margin: 0 auto
.framecss iframe
    width: 100%
    height: 100%
.close
    width: 100px
    height: 40vh
    color: #fff
    background: none
    position: absolute
    right: 6px
    top: 40%
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 150%
.nnn2
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        margin-bottom: 4%
.listen2
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 18%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 160%
        color: #1E212C



.september3
    margin-top: 2%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
.vag3
    display: flex
    justify-content: space-between
    width: 50%
.box3
    position: relative
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 27px
        line-height: 150%
        color: #1E212C
        margin-top: 4%
        margin-bottom: 2%
.sary3
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        background: #FFFFFF
        display: flex
        padding: 2%
        align-items: center
        border-radius: 4px
        width: 22%
        height: 5vh
        position: absolute
        left: 4%
        z-index: 2
        top: 2%
        display: flex
        justify-content: space-between
        align-items: center
.nnn3
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        margin-bottom: 4%
.listen3
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 16%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 160%
        color: #1E212C
.section9
    width: 100%
    height: 70vh
    margin-top: 15%
    background-color: #FEDDD1
    background-size: cover
    background-position: center
    position: relative
.io
    position: absolute
    top: 64%
.io2
    position: absolute
    top: 64%
    left: 81%
.section9-content
    width: 50%
    margin: 0 auto
    padding-top: 10%
    position: relative
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        text-align: center
        color: #1E212C
        margin-top: 3%
.blin
    margin: 0 auto
    margin-top: 7%
    margin-bottom: 10%
    display: flex
    justify-content: space-between
    width: 90%
    
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        padding: 2%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 210%
        height: 7vh
        margin-left: 5%
    button
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 20%
        height: 7vh
.sagan
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        position: absolute
        bottom: 2%
        right: 8%
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 32px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF









                    
    


    
    


