@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
header
    width: 100%
    height: auto
    background-color: #ffffff
    position: relative
.shapes
    position: absolute
    padding-bottom: 10%
.groups
    position: absolute
    top: 69%
    img
        color: #FFE1DF
.dots
    position: absolute
    right: 0%
.shapes-two
    position: absolute
    right: 17%
    bottom: 0%
.header-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between
    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px
.logo
    border: none
.section1
    width: 100%
.section1-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding-top: 7%
    padding-bottom: 10%
.section1-left
    width: 60%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 46px
        line-height: 130%
        display: flex
        align-items: center
        color: #1E212C
.section1-meta
    display: flex
    justify-content: space-between
    align-items: center
    width: 30%
    padding-bottom: 3%
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #424551
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 160%
        color: #FF3F3A
.section1-left-facebook
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 3%
    padding-bottom: 4%
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #787A80
.section1-left-time
    display: flex
    justify-content: space-between
    align-items: center
    width: 35%
.section1-left-share
    display: flex
    justify-content: space-between
    align-items: center
    width: 18%
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #1E212C
.sec1-right-plu-img
    padding-bottom: 6%
    
    img
        width: 100%
.section1-left-pluton
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 19px
        line-height: 160%
        color: #424551
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 23px
        line-height: 150%
        color: #1E212C
        padding-bottom: 4%
.nomer-026
    padding-top: 5%
.section1-left-clean
    display: flex
    justify-content: space-between
    padding-top: 6%
    padding-bottom: 6%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        color: #1E212C
.section1-left-list
    padding-top: 4%
    padding-bottom: 4%
.section1-left-list1
    display: flex
    justify-content: space-between
    align-items: center
    width: 58%
    padding-bottom: 2%
.section1-left-list2
    display: flex
    justify-content: space-between
    align-items: center
    width: 40%
    padding-bottom: 2%
.section1-left-list3
    display: flex
    justify-content: space-between
    align-items: center
    width: 67%
    padding-bottom: 2%
.section1-left-list4
    display: flex
    justify-content: space-between
    align-items: center
    width: 48%
    padding-bottom: 2%
.section1-left-footer
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 7%
.section1-left-tagc
    display: flex
    justify-content: space-between
    align-items: center
    width: 50%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #1E212C
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: flex-end
        color: #787A80
.section1-left-tag1
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 20%
        h6
            padding: 5%
.section1-left-tag2
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 10%
        h6
            padding: 10%
.section1-left-tag3
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 36%
        h6
            padding: 3%
.section1-right
    width: 35%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 5%
.section1-right-input
    background: #FFFFFF
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10%
    padding: 2%
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #9A9CA5
        border: none
.section1-right-profile
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 10%
    width: 80%
    img
        width: 30%
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        color: #424551
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #787A80
        padding-bottom: 4%
.section1-right-insta
    display: flex
    justify-content: space-between
    align-items: center
    width: 35%
    img
        width: 135%
.section1-right-all
    padding-bottom: 7%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #787A80
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        color: #1E212C
    img
        width: 28%
.section1-right-profile2
    display: flex
    justify-content: space-between
    padding-bottom: 4%
    width: 85%
.section1-right-september
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 4%
    width: 68%
    img
        width: 12%
.section1-right-september2
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 4%
    width: 47%
    img
        width: 15%
.section1-right-september3
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 4%
    width: 57%
    img
        width: 15%
.section1-right-tags
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: flex-end
        color: #787A80
.section1-right-tags-top
    display: flex
    justify-content: space-between
    align-items: center
    width: 65%
    padding-bottom: 4%
.section1-right-tags-bottom
    display: flex
    justify-content: space-between
    align-items: center
    width: 70%
.sec1-ri-tag1
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 36%
    h5
        padding: 5%
.sec1-ri-tag2
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 34%
    h5
        padding: 4%
.sec1-ri-tag3
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 24%
    h5
        padding: 4%
.sec1-ri-tag4
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 27%
    h5
        padding: 4%
.sec1-ri-tag5
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 15%
    h5
        padding: 7%
.sec1-ri-tag6
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 52%
    h5
        padding: 2%
.section2
    width: 100%
    background-color: #F4F5F6
.section2-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 40px
        line-height: 130%
        display: flex
        align-items: center
        color: #1E212C
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 160%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 75%  
        padding: 1%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 20%
.section2-button
    width: 100%
    text-align: center
.section2-play
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 7%
    padding-bottom: 5%
.section2-chek
    display: flex
    justify-content: space-between
    align-items: center
    width: 85%
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20   px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.section3
    width: 100%
.section3-content
    width: 80%
    margin: 0 auto
    padding-top: 7%
    padding-bottom: 5%
.section3-footer-data
    display: flex
    justify-content: space-between
    align-items: center
.section3-data3
    display: flex
    justify-content: space-between
    align-items: center
    width: 43%
.section3-min36
    display: flex
    justify-content: space-between
    align-items: center
    width: 18%
.section3-listen
    display: flex
    justify-content: space-between
    align-items: center
    width: 20%
    padding-top: 3%
.section3-footer-in
    width: 32%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 150%
        color: #1E212C
        padding-top: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
        padding-top: 2%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        color: #1E212C
.section3-footer-img
    position: relative
    img
        width: 100%
.section3-footer-data
    padding-top: 2%
.section3-footer1
    display: flex
    justify-content: space-between
    padding-top: 5%
.section3-footer-data2
    display: flex
    justify-content: space-between
    align-items: center
    width: 75%
    padding-top: 2%
.section3-data32
    display: flex
    justify-content: space-between
    align-items: center
    width: 59%
.section3-footer-data3
    display: flex
    justify-content: space-between
    align-items: center
    width: 88%
    padding-top: 2%
.section3-data33
    display: flex
    justify-content: space-between
    align-items: center
    width: 40%
.section3-min363
    display: flex
    justify-content: space-between
    align-items: center
    width: 20%
.section3-img-in
    display: flex
    justify-content: space-between
    align-items: center
    position: absolute
    width: 25%
    top: 1%
    margin: 4%
    background: #FFFFFF
    border-radius: 4px
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #424551
    button
        display: flex
        justify-content: space-between
        align-items: center
        padding: 2%
        margin: 0 auto
    img
        width: 25%
        padding: 2%
.sec1-work
    display: flex
    justify-content: space-between
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
.sec1-strike
    padding-top: 5%
.section3-sec3-c3
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 auto
    width: 60%
    padding-top: 5%
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 34px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        padding: 1%










            
