@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
.section1
    width: 100%
    height: auto
    background-image: url(../../img/background/background.png) 
    background-size: cover
    background-position: center
    position: relative
    border-radius: 4px
.section1-z-index
    position: absolute
    width: 50%
    margin: 8% 35%
    border-radius: 4px
.section1-vhod
    background: #ffffff
    border: 1px solid #ffffff
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
    border-radius: 4px
    position: absolute
    z-index: 555
    width: 60%
.sec1-vhod26
    padding: 4%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 36px
        line-height: 150%
        color: #1E212C
        width: 100%
        text-align: center
        padding-bottom: 6%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #787A80
        padding-bottom: 4%
        width: 100%
        text-align: center
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #424551
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #424551
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        text-align: right
        color: #FF3F3A
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 44px
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 100%
        margin-bottom: 5%
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        padding: 2%
.sec1-dont
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    color: #424551
.sec1-footer
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 22px
    line-height: 150%
    color: #787A80
    padding-top: 8%
.sec1-insta
    width: 100%
    text-align: center
    img
        padding: 1%
.sec1-keep
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 4%
.sec1-keep1
    display: flex
    justify-content: space-between
    align-items: center
    width: 35%
.sec1-divilder
    padding-top: 4%
    img
        width: 100%
.section1-content
    width: 80%
    margin: 0 auto
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between

    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px


.section1-center
    margin-top: 5%
    display: flex
    justify-content: space-between
    align-items: center
    .play-video
        button
            display: flex
            justify-content: space-between
            align-items: center
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 64px
        line-height: 130%
        display: flex
        align-items: center
        letter-spacing: 1px
        color: #1E212C
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 21px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
.vvosem
    width: 50%
    height: 2vh
    padding-left: 95%
.buut1
    button
        color: red 
        border: solid red
        border-radius: 4px
        width: 210%
        height: 8vh
.butt
    width: 65%
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 6%

    .buut2
        button
           color: #FFFFFF
           width: 190%
           height: 8vh
           background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
           border-radius: 4px
.vector
    height: 2vh
    padding-left: 87%
    padding-top: 10%
.group
    width: 40%
    height: 5vh
    padding-left: 252%
    padding-top: 6%
.section1-right
    img
        width: 750px

.section1-footer
    width: 108%
    margin-top: 16%
    display: flex
    align-items: center
    justify-content: space-between
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 130%
        display: flex
        align-items: center
        text-align: center
        color: #1E212C

    p
        width: 14%
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        justify-content: space-between 
        color: #1E212C

.section1-footer 
    padding-bottom: 3%
    img
        margin-right: 19px
.sec1-pasword
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 100%
    input
        border: none
    img
        padding-right:  3%
.sec1-in2
    margin-top: 6%
    margin-bottom: 4%
        
