@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
header
    width: 100%
    height: auto
    background-color: #ffffff
    position: relative
.shapes
    position: absolute
    padding-bottom: 10%
.groups
    position: absolute
    top: 69%
    img
        color: #FFE1DF
.dots
    position: absolute
    right: 0%
.shapes-two
    position: absolute
    right: 17%
    bottom: 0%
.header-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between
    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px
.logo
    border: none

.section1
    width: 100%
.section1-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        text-align: center
        padding-bottom: 1%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        text-align: center
        color: #1E212C
        text-align: center
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        display: flex
        align-items: center
        text-align: center
        color: #9A9CA5
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        color: #424551
.section1-Toolbar
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 4%
    padding-bottom: 4%
    width: 100%
.section1-toolbar-left
    display: flex
    justify-content: space-between
    align-items: center
    width: 38%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        text-align: center
        color: #FF3F3A
        border: 1px solid #FF3F3A
        box-sizing: border-box
        border-radius: 4px
        width: 13%
.section1-artisles
    display: flex
    justify-content: space-between
    align-items: center
    width: 19%
    img
        width: 15%
.section1-videos
    display: flex
    justify-content: space-between
    align-items: center
    width: 19%
    img
        width: 22%
.section1-podcasts
    display: flex
    justify-content: space-between
    align-items: center
    width: 22%
    img
        width: 15%
.section1-toolbar-right
    display: flex
    justify-content: space-between
    align-items: center
    width: 45%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #424551
    input
        border: none
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #9A9CA5
.section1-button2
    display: flex
    justify-content: space-between
    align-items: center
    background: #FFFFFF
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 28%
    padding: 1%
.section1-input
    display: flex
    justify-content: space-between
    align-items: center
    background: #FFFFFF
    border: 1px solid #D7DADD
    box-sizing: border-box
    border-radius: 4px
    width: 40%
    padding: 1%
.section1-footer-data
    display: flex
    justify-content: space-between
    align-items: center
.section1-data3
    display: flex
    justify-content: space-between
    align-items: center
    width: 43%
.section1-min36
    display: flex
    justify-content: space-between
    align-items: center
    width: 18%
.section1-listen
    display: flex
    justify-content: space-between
    align-items: center
    width: 20%
    padding-top: 3%
.section1-footer-in
    width: 32%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 150%
        color: #1E212C
        padding-top: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
        padding-top: 2%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        color: #1E212C
.section1-footer-img
    position: relative
    img
        width: 100%
.section1-footer-data
    padding-top: 2%
.section1-footer1
    display: flex
    justify-content: space-between
    padding-top: 5%
.section1-footer-data2
    display: flex
    justify-content: space-between
    align-items: center
    width: 75%
    padding-top: 2%
.section1-data32
    display: flex
    justify-content: space-between
    align-items: center
    width: 59%
.section1-footer-data3
    display: flex
    justify-content: space-between
    align-items: center
    width: 88%
    padding-top: 2%
.section1-data33
    display: flex
    justify-content: space-between
    align-items: center
    width: 40%
.section1-min363
    display: flex
    justify-content: space-between
    align-items: center
    width: 20%
.section1-img-in
    display: flex
    justify-content: space-between
    align-items: center
    position: absolute
    width: 25%
    top: 1%
    margin: 4%
    background: #FFFFFF
    border-radius: 4px
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #424551
    button
        display: flex
        justify-content: space-between
        align-items: center
        padding: 2%
        margin: 0 auto
    img
        width: 25%
        padding: 2%
.section1-footer2
    padding-top: 5%
    display: flex
    justify-content: space-between
.section1-footer2-in2
    width: 57%
    position: relative
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 28px
        line-height: 150%
        color: #1E212C
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
.section1-footer2-article2
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    width: 55%
    margin: 3%
    button
        display: flex
        justify-content: space-between
        align-items: center
        background: #FFFFFF
        border-radius: 4px
        padding: 1%
        width: 20%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #424551
.section1-footer2-data2
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 2%
    padding-bottom: 2%
    width: 43%
.section1-footer2-data2-clock
    display: flex
    justify-content: space-between
    align-items: center
    width: 45%
.section1-footer2-read
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 3%
    width: 10%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        color: #1E212C
.section1-footer2-img2
    img
        width: 100%
.section1-footer2-in23
    width: 40%
    position: relative
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        color: #787A80
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 28px
        line-height: 150%
        color: #1E212C
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
.section1-footer2-article23
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    width: 75%
    margin: 3%
    button
        display: flex
        justify-content: space-between
        align-items: center
        background: #FFFFFF
        border-radius: 4px
        padding: 1%
        width: 20%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 150%
        color: #424551
.section1-footer2-data23
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 2%
    padding-bottom: 2%
    width: 73%
.section1-footer2-data2-clock3
    display: flex
    justify-content: space-between
    align-items: center
    width: 40%
.section1-footer2-clock233
    display: flex
    justify-content: space-between
    align-items: center
    width: 20%

.section1-footer2-read3
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 3%
    width: 10%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 160%
        color: #1E212C
.section1-footer2-img23
    img
        width: 100%
.section1-footer-data26
    display: flex
    justify-content: space-between
    align-items: center
    width: 96%
    padding-top: 2%
.section1-data26
    display: flex
    justify-content: space-between
    align-items: center
    width: 32%
.section1-footer-data266
    display: flex
    justify-content: space-between
    align-items: center
    width: 97%
    padding-top: 2%
.section1-data326
    display: flex
    justify-content: space-between
    align-items: center
    width: 31%
.section1-footer-data338
    display: flex
    justify-content: space-between
    width: 68%
    padding-top: 2%
.section1-footer-footer-footer-footer
    padding-top: 7%
    padding-bottom: 10%
    width: 10%
    margin: 0 auto
.section2
    width: 100%
    background-color: #F4F5F6
.section2-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 40px
        line-height: 130%
        display: flex
        align-items: center
        color: #1E212C
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 160%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 75%  
        padding: 1%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 20%
.section2-button
    width: 100%
    text-align: center
.section2-play
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 7%
    padding-bottom: 5%
.section2-chek
    display: flex
    justify-content: space-between
    align-items: center
    width: 85%
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 32px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF











    
    



            