@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
header
    width: 100%
    height: auto
    background-color: #FEDCD2
    position: relative
.shapes
    position: absolute
    padding-bottom: 10%
.groups
    position: absolute
    top: 69%
    img
        color: #FFE1DF
.dots
    position: absolute
    right: 0%
.shapes-two
    position: absolute
    right: 17%
    bottom: 0%
.header-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between

    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px
.header-text
    padding-top: 8%
    padding-bottom: 7%
    width: 100%
    margin: 0 auto
    text-align: center
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #FF3F3A
        padding-bottom: 2%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 53px
        line-height: 130%
        color: #1E212C

.section1
    width: 100%
    height: auto
.section1-content
    width: 80%
    margin: 0 auto
    padding-top: 7%
    display: flex
    justify-content: space-between
.section1-klan
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        color: #1E212C
        padding-bottom: 5%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        padding-bottom: 6%
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size:34px
        line-height: 150%
        color: #1E212C
        padding-bottom: 3%
.section1-list
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        padding-bottom: 1%
        display: flex        
.section1-right
        background: #ffffff
        border: 1px solid #E5E8ED
        box-sizing: border-box
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
        border-radius: 4px
        width: 45%
        height: 86vh
.section1-in
    width: 85%
    height: auto
    margin: 0 auto
    padding-top: 7%
    position: relative
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
        padding-top: 6%
    h4
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 34px
        line-height: 130%
        color: #FF3F3A
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        color: #787A80
    button
        color: #ffffff
        padding-top: 11%
        width: 90%
        height: 4vh
        margin: 0 auto
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        position: absolute
        bottom: -16%
    .led
        position: absolute
        top: 15%
        left: 38%
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 44px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
.section2
    width: 100%
    position: relative
.CIRCLEs
    position: absolute
    top: 17%
.section2-content
    width: 80%
    margin: 0 auto
    padding-top: 15%
    padding-bottom: 5%
    display: flex
    justify-content: space-between
.section2-left
    img
        width: 118%
.section2-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
        padding-bottom: 3%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 28px
        line-height: 150%
        color: #787A80
        padding-bottom: 5%
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
        display: flex
        align-items: center
        color: #424551
.rate
    display: flex
    justify-content: space-between
    width: 14%
    padding-bottom: 1%
.star
    display: flex
    justify-content: space-between
    width: 16%
    padding-bottom: 1%
.students
    display: flex
    justify-content: space-between
    width: 21%
.pi
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        color: #424551
        padding-top: 5%
        width: 120%
.be
    display: flex
    justify-content: space-between
    width: 28%
.section3
    width: 100%
    position: relative
.group2
    position: absolute
    left: 90%
    top: 35%
.section3-content
    width: 80%
    margin: 0 auto
    padding-top: 12%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        text-align: center
        color: #1E212C
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
        padding-bottom: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #787A80
.section3-center
    padding-top: 7%
    display: flex
    justify-content: space-between
.step
    display: flex
    align-items: center
    justify-content: space-between
    width: 27%
    padding-bottom: 5%
.step2
    display: flex
    align-items: center
    justify-content: space-between
    width: 27%
    padding-bottom: 5%
.step3
    display: flex
    align-items: center
    justify-content: space-between
    width: 27%
    padding-bottom: 2%
.step4
    display: flex
    align-items: center
    justify-content: space-between
    width: 27%
    padding-bottom: 5%
.for
    position: relative
    display: flex
    align-items: center
.for2
    position: absolute
    left: -64%
.section4
    width: 100%
.section4-content
    width: 80%
    margin: 0 auto
    margin-top: 10%
    background-color: #FEDCD3
    position: relative
.cls
    right: 29%
    position: absolute
.section4-center
    width: 93%
    margin: 0 auto
    padding-top: 4%
    padding-bottom: 3%
    h2
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 38px
        line-height: 130%
        display: flex
        align-items: center
        text-align: center
        color: #1E212C
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 130%
        display: flex
        align-items: center
        color: #1E212C
        
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
.prod3
    display: flex
    justify-content: space-between
.prod2
    display: flex
    justify-content: space-between
    width: 25%
    padding-top: 1%
.defull
    padding-top: 2%
    display: flex
    justify-content: space-between
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #424551
        padding-bottom: 1%
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 145%
        height: 5vh
        padding-left: 7%
.number
    position: relative
    width: 10%
    padding-right: 14%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 44px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        padding-left: 12%
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 100%
        height: 5vh
        position: absolute
        top: 40%
.section5
    width: 100%
.section5-content
    width: 80%
    margin: 0 auto
    padding-top: 10%
    display: flex
    justify-content: space-between
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 44px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        margin-bottom: 3%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 55px
        line-height: 130%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 150%
        color: #424551
        padding-bottom: 4%
.section5-right
    padding-right: 1%
    padding-top: 5%
    position: relative
    img
        position: absolute
        left: -6%
.ggg1
    display: flex
    justify-content: space-between
    width: 100%
.ggg2
    display: flex
    justify-content: space-between
    width: 97%
.ggg3
    display: flex
    justify-content: space-between
    width: 104%
.ggg4
    display: flex
    justify-content: space-between
    width: 104%
.section6
    width: 100%
.section6-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 10%
    position: relative
.section6-left
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 1%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        color: #1E212C
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        color: #1E212C
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 160%
        color: #424551
        padding-top: 2%
        padding-bottom: 2%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 150%
        color: #FF3F3A
        display: flex
        justify-content: space-between
        align-items: center
        width: 25%
.section6-accordion
    padding-top: 5%
.lisi
    display: flex
    justify-content: space-between
    width: 74%
.lesson2
    display: flex
    justify-content: space-between
    width: 86%
    padding-bottom: 2%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 21%
.lesson3
    display: flex
    justify-content: space-between
    width: 96%
    padding-bottom: 2%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 19%
.lesson4
    display: flex
    justify-content: space-between
    width: 86%
    padding-bottom: 2%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 21%
.lesson5
    display: flex
    justify-content: space-between
    width: 66%
    padding-bottom: 2%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 27%
.lesson6
    display: flex
    justify-content: space-between
    width: 58%
    padding-bottom: 2%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 31%
.lesson7
    display: flex
    justify-content: space-between
    width: 90%
    padding-bottom: 2%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 20%
.lesson8
    display: flex
    justify-content: space-between
    width: 66%
    button
        display: flex
        justify-content: space-between
        align-items: center
        width: 27%
.section6-right
    position: absolute
    right: -9%
    img
        width: 80%
.section7
    width: 100%
.section7-content
    width: 80%
    height: auto
    margin: 0 auto
    padding-top: 10%
    position: relative
.land-rover
    position: absolute
    bottom: 35%
.mersedes-benz
    position: absolute
    bottom: 32%
    right: 0%
    z-index: 2
.headerr
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 54px
        line-height: 130%
        text-align: center
        color: #1E212C
.dodopizza2
    background-color: #fff
    width: 85%
    height: 46vh
    margin: 0 auto
    margin-top: 7%
    position: relative
    background: #FFFFFF
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4p
.infooo
    width: 80%
    margin: 0 auto
    position: absolute
    top: 20%
    position: relative
    margin-top: 5%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #424551
        padding-left: 10%
.akk
    display: flex
    align-items: center
    justify-content: space-between
    width: 25%
    margin-left: 10%
    margin-top: 2%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 150%
        color: #787A80
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 160%
        color: #1E212C
        margin-left: 10%
.dd
    width: 74%
.rectangle
    position: absolute
    left: 4%
    display: flex
    justify-content: space-between
    width: 4%
.ufc
    padding-left: 40%
    padding-top: 4%
    padding-bottom: 3%
.section8
    width: 100%
.section8-content
    width: 80%
    margin: 0 auto
    display: flex
    justify-content: space-between
    padding-top: 10%
.section8-left
    img
        width: 120%
.section8-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 2%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 130%
        color: #1E212C
        padding-bottom: 4%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #424551
        padding-bottom: 1%
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #9A9CA5
        margin-bottom: 4%
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 95%
        height: 8vh
        padding-left: 3%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        margin-bottom: 5%
        margin-top: 4%
        width: 95%
        padding-left: 35%
.section9
    width: 100%
.section9-content
    width: 80%
    margin: 0 auto
    padding-top: 15%
.section9-header
    display: flex
    justify-content: space-between
    position: relative
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
        padding-bottom: 1%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 130%
        color: #1E212C
.mak
    position: absolute
    top: 90%
    left: 90%
    display: flex
    justify-content: space-between
    width: 7%
.section9-center
    padding-top: 7%
.chel1
    width: 47%
    height: 16%
    border: solid rgb(224, 217, 217)
    display: flex
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
.chelv1
    padding: 3%
.chel1 img
    width: 33%
.chelv1 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    padding: 2%
    background-color: #03CEA4
    width: 79px
    height: 25px
    border-radius: 4px
    
.chel1 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 21px
    line-height: 150%
    color: #1E212C
    margin-top: 5%
    padding-right: 10%
.sto
    width: 60%
    margin-top: 5%
    display: flex
    justify-content: space-between
    align-items: center
.sto img
    width: 25%
.sto
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #787A80
.chel4
    width: 47%
    height: 18%
    border: solid rgb(224, 217, 217)
    display: flex
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
.chel4 img
    width: 33%
.chelv4
    padding: 3%
.chelv4 p 
    color: #FFF
    font-family: 'Lato'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    padding: 1%
    background-color: #5A87FC
    width: 90px
    height: 25px
    border-radius: 4px
.chel4 h3
    font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 150%
    color: #1E212C
    margin-top: 7%
.sto4
    width: 90%
    margin-top: 8%
    display: flex
    justify-content: space-between
    align-items: center
.sto4 img
    width: 20%
.sto4
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 24px
        line-height: 150%
        color: #787A80
.mazda-miata
    display: flex
    justify-content: space-between
.section9-footer
    display: flex
    justify-content: space-between
    margin: 0 auto
    padding-top: 7%
    width: 55%
    h5
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 34px
        line-height: 150%
        display: flex
        align-items: center
        color: #1E212C
    button
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 30%
        padding-left: 7%
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
    margin-top: 16%
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF




    
        
      





    