@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button
    background: none
    border: none
.input
    background: none
    border: none
header
    width: 100%
    height: auto
    background-color: #ffffff
    position: relative
.shapes
    position: absolute
    padding-bottom: 10%
.groups
    position: absolute
    top: 69%
    img
        color: #FFE1DF
.dots
    position: absolute
    right: 0%
.shapes-two
    position: absolute
    right: 17%
    bottom: 0%
.header-content
    width: 80%
    margin: 0 auto
    padding-top: 1%
.m
    width: 40%
    height: 3vh
    padding-left: 97%
header
    display: flex
    align-items: center
    justify-content: space-between
    .nav
        width: 43%
        display: flex
        align-items: center
        justify-content: space-between

    .nav
        a
            font-family: 'Lato'
            font-style: normal
            font-weight: 700
            font-size: 26px
            line-height: 160%
            color: #424551
    .info
        width: 29%
        display: flex
        align-items: center
        justify-content: space-between

    .info
        .kk
            button
                width: 125%
                font-family: 'Lato'
                font-style: normal
                font-weight: 700
                font-size: 26px
                line-height: 52px
                letter-spacing: 0.5px
                color: #FFFFFF
                background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
                border-radius: 4px
.section1
    width: 100%
    position: relative
    .dumai
        position: absolute
    .dumai2
        position: absolute
        left: 91%
        top: 75%
.section1-content
    width: 80%
    margin: 0 auto
    padding-top: 7%
.section1-header
    text-align: center
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 50px
        line-height: 130%
        text-align: center
        color: #1E212C

.section1-center
    display: flex
    justify-content: space-between
    padding-top: 5%
    h5
        font-family: 'Lato'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 160%
    color: #424551
    .category
        display: flex
        justify-content: space-between
        align-items: center
        width: 22%
        button
            display: flex
            justify-content: space-between
            align-items: center
            width: 40%
            font-family: 'Lato'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 150%
            color: #424551
            background: #FFFFFF
            border: 1px solid #D7DADD
            box-sizing: border-box
            border-radius: 4px
            width: 54%
            height: 6vh
            padding: 5%
    .sorting
        display: flex
        justify-content: space-between
        align-items: center
        width: 17%
        button
            display: flex
            justify-content: space-between
            align-items: center
            width: 40%
            font-family: 'Lato'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 150%
            color: #424551
            background: #FFFFFF
            border: 1px solid #D7DADD
            box-sizing: border-box
            border-radius: 4px
            width: 66%
            height: 6vh
            padding: 5%
    .pager
        display: flex
        justify-content: space-between
        align-items: center
        width: 20%
        button
            display: flex
            justify-content: space-between
            align-items: center
            width: 40%
            font-family: 'Lato'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 150%
            color: #424551
            background: #FFFFFF
            border: 1px solid #D7DADD
            box-sizing: border-box
            border-radius: 4px
            width: 27%
            height: 6vh
            padding: 5%
        p
            font-family: 'Lato'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 150%
            color: #787A80
    .input-default
        display: flex
        justify-content: space-between
        align-items: center
        width: 26%
    input
        display: flex
        justify-content: space-between
        align-items: center
        width: 52%
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 150%
        color: #9A9CA5
        border: none
    .no
        display: flex
        justify-content: space-between
        align-items: center
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        height: 6vh
        padding: 5%
.section1-footer
    padding-top: 4%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
    h3
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 150%
        color: #FF3F3A
        padding-bottom: 3%
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 150%
        color: #1E212C
        padding-bottom: 3%
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 160%
        color: #787A80
        padding-bottom: 4%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 160%
        color: #787A80
        padding-bottom: 7%
    button
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 44px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: red
        border: 1px solid red
        box-sizing: border-box
        border-radius: 4px
        margin-top: 3%
        width: 100%
        height: 6vh
    .event-button
        width: 100%
    .event-button:hover
        background-color: red
        color: #ffffff
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 6vh
.event
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
    width: 30%
    margin-bottom: 4%
.event-in
    width: 100%
    margin: 0 auto
    padding: 3%
.event-in3
    width: 100%
    margin: 0 auto
    padding: 3%
    h1
        font-size: 12px
    button
        margin-top: 1%
    p
        padding-bottom: 5%
.event3
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
    width: 30%
    margin-bottom: 4%
.event-in9
    width: 100%
    margin: 0 auto
    padding: 3%
    h1
        font-size: 12px
    button
        margin-top: 1%
    p
        padding-bottom: 5%
.event9
    background: #FFFFFF
    border: 1px solid #E5E8ED
    box-sizing: border-box
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
    width: 30%
    margin-bottom: 4%
.footer-in-footer
    width: 12%
    margin: 0 auto
    display: flex
    justify-content: space-between
.section9
    width: 100%
    height: 70vh
    margin-top: 15%
    background-image: url(../../img/photo/background4.png) 
    background-size: cover
    background-position: center
    position: relative
.io
    position: absolute
    top: 64%
.io2
    position: absolute
    top: 64%
    left: 81%
.section9-content
    width: 50%
    margin: 0 auto
    padding-top: 10%
    position: relative
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 150%
        text-align: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #1E212C
    h1
        font-family: 'Lato'
        font-style: normal
        font-weight: 900
        font-size: 52px
        line-height: 130%
        text-align: center
        color: #1E212C
        margin-top: 3%
.blin
    margin: 0 auto
    margin-top: 7%
    margin-bottom: 10%
    display: flex
    justify-content: space-between
    width: 90%
    
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 160%
        padding: 2%
        color: #9A9CA5
        background: #FFFFFF
        border: 1px solid #D7DADD
        box-sizing: border-box
        border-radius: 4px
        width: 220%
        height: 7vh
        margin-left: 5%
    button
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%)
        border-radius: 4px
        width: 20%
        height: 7vh
.sagan
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 26px
        line-height: 52px
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.5px
        color: #FFFFFF
        position: absolute
        bottom: 2%
        right: 8%
footer
    width: 100%
    height: auto
    background-color: #1E212C
    background-size: cover
    background-position: center
.footer-content
    width: 80%
    margin: 0 auto
    padding-top: 8%
    padding-bottom: 5%
.in
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #DBDBDD
        padding-top: 7%
        padding-bottom: 13%
.youtube
    display: flex
    justify-content: space-between
    width: 80%
.footer-center
    display: flex
    justify-content: space-between
    width: 100%
.site
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 10%
.courses
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    a
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        display: flex
        align-items: center
        color: #DBDBDD
        padding-bottom: 7%
.contact
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        color: #DBDBDD
.tele2
    display: flex
    justify-content: space-between
    width: 85%
.lplp
    display: flex
    justify-content: space-between
    width: 105%
.footer-input
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 150%
        display: flex
        align-items: center
        letter-spacing: 1px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 15%

    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
        padding-top: 7%
        
        
    input
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #DBDBDD
        padding-left: 3%
        background: rgba(255, 255, 255, 0.12)
        border: 1px solid rgba(255, 255, 255, 0.2)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 5vh
.lk
    position: relative
    width: 90%
    display: flex
    button
        position: absolute
        left: 89%
        padding-top: 3%
.footer-footer
    width: 100%
    height: auto
    background-color: #343741
.footer-text
    width: 80%
    margin: 0 auto
    padding-top: 1%
    padding-bottom: 1%
    display: flex
    justify-content: space-between
.footer-left
    display: flex
    justify-content: space-between
    width: 30%
    p
        font-family: 'Lato'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF
.footer-right
    h6
        font-family: 'Lato'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 150%
        display: flex
        align-items: center
        color: #FFFFFF



    







    




